author show

<div class="c-section">
  <div class="c-input">
    <div class="book-index-container">
      <h2 class="c-title">
        <%= @author.name %>
      </h2>
      <h3 class="c-title c-title--small">
        Books:
      </h3>
    </div>
</div>
