<div class="c-section">
  <h1 class="c-title c-title--large">Books</h1>
  <% @books.each do |book| %>
    <div class="c-input">
      <div class="book-index-container">
        <%= link_to book.title, book_path(book), class: "c-title" %>
        <%= image_tag book.avatar.variant(resize: "75x75") %>
        <h3 class="c-title c-title--small">Author: </h3>
        <p class="c-paragraph c-paragraph--small"> <%= book.author.name %></p>
        <h3 class="c-title c-title--small">Price: </h3>
        <p class="c-paragraph c-paragraph--small">$<%= book.price %></p>
      </div>
    </div>
  <% end %>
</div>
