<div class="c-section">
  <h1 class="c-title c-title--large">My Purchased Books</h1>
</div>
<div class="c-section">
  <% if @sales.any? %>
    <% @sales.each do |sale| %>
      <div class="c-card u-margin-bottom-small">
        <div class="c-section">
          <h4 class="c-title"><%= sale.book.title %></h4>
          <h3 class="c-title c-title--small">Author: </h3>
          <p class="c-paragraph c-paragraph--small"> <%= sale.book.author.name %></p>
          <%= link_to "More Info", sale_path(sale), class: "c-button c-button--small c-button--focal"%>
        </div>
      </div>
    <% end %>
  <% else %>
    <h2 class="c-title">You haven't purchased any books.</h2>
  <% end %>
</div>
